<!-- <courses></courses>
<authors></authors>
<app-panel></app-panel>
<app-like></app-like> -->

<!-- NG SWITCH -->
<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'" >Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>

<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div> -->

<!-- NG FOR -->
<!-- <button class="btn btn-primaru" (click)="loadCourses()">Load Courses</button>
<button class="btn btn-success" (click)="onAdd()">Add</button>
<div class="row">
    <div class="col-md-4">
        <div class="row">
            <ul>
                <li class="" *ngFor="let course of courses; even as i; trackBy: trackCourse">
                {{ course.name }} 
                <button class="btn btn-warning" (click)="onChange(course)">Update</button>
                <button class="btn btn-danger" (click)="onRemove(course)">Remove</button>
                <span *ngIf="i">(EVEN)</span> 
                </li>
            </ul>
        </div>
    </div>
</div> -->

<!-- CUSTOM DIRECTIVES -->
<!-- <input type="text" [appInputFormat]="'uppercase'"> -->

<!-- Template Forms -->
<!-- <contact-form></contact-form> -->

<!-- Reactive Forms -->
<!-- <app-signup-form></app-signup-form> -->
<!-- <app-new-course-form></app-new-course-form> -->

<posts></posts>
