.glyphicon{
    font-size: 50px;
    color: grey;
}

.highlighted{
    color: deeppink;
}

p{
    font-size: 45px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}